services:
  db:
    image: postgres:15-alpine
    container_name: shiprocket_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-shiprocket_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-shiprocket_pass}
      POSTGRES_DB: ${POSTGRES_DB:-shiprocket_db}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5439:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-shiprocket_user}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shiprocket_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: shiprocket_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - shiprocket_network

  redis:
    image: redis:7-alpine
    container_name: shiprocket_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shiprocket_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shiprocket_backend
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8009:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - shiprocket_network
    command: sh -c "sed -i 's/\r$//' docker-entrypoint.sh && sh docker-entrypoint.sh uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"

volumes:
  postgres_data:
  pgadmin_data:
  redis_data:


networks:
  shiprocket_network:
    driver: bridge
